<h1 id="tableLabel">Bicycle List(s)</h1>

<p>Bicycle List(s)</p>

<div *ngIf="showDropdown" class="dropdown">
  <ul class="list-group">
    <li class="list-group-item"
        (click)="createService()">
      Create Service
    </li>
  </ul>
</div>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.date }}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>
      <td>{{ forecast.summary }}</td>
    </tr>
  </tbody>
</table>
